---
import Layout from "../layouts/Layout.astro";
import Age from "../components/Age";
import { Page } from "../constants";

const links = [
    { label: "Github", href: "https://github.com/jnsahaj" },
    { label: "LinkedIn", href: "https://www.linkedin.com/in/sahaj-jain-9099641ab/" },
    { label: "Email", href: "mailto://sahajjain13+business@gmail.com" },
];
---

<Layout activeKey={Page.ABOUT}>
    <main class="mt-16">
        <h2 class="text-lg">Hey there, I'm Sahaj 👋</h2>
        <section class="mt-8 text-sm text-gray-200">
            <p>
                I'm a <Age client:load /> software engineer building stuff for the web.
            </p>
            <br />
            <p>
                I'm currently working at myHQ, a leading platform for booking coworking spaces across India, as a
                frontend developer.
            </p>
        </section>
        <section class="flex text-xs gap-6 justify-center mt-24 text-gray-100 decoration-gray-400 font-thin">
            {
                links.map((link) => (
                    <a class="hover:underline underline-offset-4" href={link.href}>
                        {link.label}
                    </a>
                ))
            }
        </section>
    </main>
</Layout>
